html,
body {
    font-family: "San Francisco", Arial;
    font-size: 14px;
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    color: #343434;
}

.page {
    padding: 10px;
}

.no-clips-yet {
    color: #aaa;
    font-size: 150%;
    margin: 20% 10%;
    text-align: center;
    /* margin-top: 20%; */
}

.clip {
    position: relative;
    display: flex;
    border-bottom: 1px solid #ccc;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 10px;
}

.clip:hover {
    background: #ddeaff;
    cursor: pointer;
}

.clip-image-representation {
    height: 40px;
}

.clip-actions {
    margin-left: auto;
    right: 0px;
    top: 0px;
}

.clip-action,
.clip-shortcut,
.clip-details-button {
    border: 1px solid #bbb;
    background: #fff;
    border-radius: 4px;
    padding: 2px;
    display: inline;
    margin-left: 2px;
    color: #454545;
}

.clip-action:hover,
.clip-shortcut:hover,
.clip-details-button:hover {
    background: #aaa;
    cursor: pointer;
}


.back-link a {
    text-decoration: none;
    color: #454545;
    margin-left: 5px;
}

.back-link:hover * {
    color: #0000ee;
    cursor: pointer;
}

.clip-text-detail {
    margin-top: 10px;
    width: 95%;
    height: 300px;
}

.status-bar {
    position: fixed;
    bottom: 0;
    /* Don't set width, instead set both left and right to 0 to achieve a width of 100% */
    /* https://stackoverflow.com/questions/18442628/position-fixed-width-100 */
    right: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    background: #dfdfdf;
    padding: 10px 10px 10px 10px;
}

.status-bar .clear {
    margin-right: auto;
}

.status-bar * {
    margin: 0 2px;
}